name: 04 - Using Actions

on: 
    # push:
    workflow_dispatch:


jobs:
    build:
        runs-on: ubuntu-latest
        defaults: 
            run: 
                working-directory: 04-using-actions/react-app

        # 0. Checkout the code from the repository
        steps: 
            - name: Checkout Code 
              uses: actions/checkout@v4

        # 1. Setting up node npm
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: '20.x'

        # 3. Install dependencies of our react application
            - name: Install Dependencies
              run: npm ci        
         
            - name: Run Unit Tests
              run: npm run test
              