name: 16 - Working with Environments 
run-name: 16 - Working with Environments 

on: 
    workflow_dispatch:

jobs:
    deploy-staging:
        runs-on: ubuntu-latest
        environment: staging
        steps:
            - name: Staging 
              run: echo "Deploying to staging"
    
    ec2-test:
        runs-on: ubuntu-latest
        needs: deploy-staging
        steps:
            - name: EC2 Test
              run: echo "EC2 test"
    deploy-prod:
        runs-on: ubuntu-latest
        needs: ec2-test
        environment: prod
        steps:
            - name: Production
              run: echo "Deploying to prod"